{% autoescape None %}
{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/codemirror.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/addon/lint/lint.min.css" />
<link rel="stylesheet" href="/assets/bower_components/editor.md/css/editormd.min.css" />

{% end %}

{% block content %}

<div class="ui container">

  <form class="ui form" action="" method="POST">
    {% module xsrf_form_html() %}
    <div class="field">
      <label for="meta">文章信息</label>
      <textarea id="page" name="page" rows="500">{{ page.text }}</textarea>
    </div>
    <button type="submit">保存</button>

  </form>

</div>

{% end %}

{% block footer %}
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/codemirror.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/yaml/yaml.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/yaml-frontmatter/yaml-frontmatter.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/addon/lint/lint.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/addon/lint/yaml-lint.min.js"></script>
<script src="/assets/bower_components/editor.md/editormd.min.js"></script>
<script type="text/javascript">
 $(function() {

   CodeMirror.fromTextArea(document.getElementById("page"), {
     mode: "yaml-frontmatter",
     lineSeparator: '\n',
     lineNumbers: true
   });

 });
</script>
{% end %}
