<!doctype html>
<!--[if IE 8]> <html lang="{{ LANGUAGE }}" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{ LANGUAGE }}" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="{{ LANGUAGE }}"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!--  Meta for Smart App Banner -->
    <!-- <meta name="apple-itunes-app" content="app-id=, app-argument=" -->
    <!-- End -->

    <!--  Meta for OpenGraph -->
    <meta property="og:site_name" content="{{ og_site_name }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ BASE_URL }}{{ url }}">
    <meta property="og:description" content="{{ description }}">
    <!-- End -->

    <title>{{ title }}</title>

    <!-- Web Fonts -->

    {% block css_compulsory %}
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    {% endblock %}

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="assets/css/headers/header-v6.css">
    <!-- <link rel="stylesheet" href="assets/css/footers/footer-v2.css"> -->
    <link rel="stylesheet" href="assets/css/footers/footer-v7.css">

    <!-- CSS Implementing Plugins -->
    {% block css_plugins %}{% endblock %}

    {% if STYLE_SWITCHER_ON %}
    <!-- Style Switcher -->
    <link rel="stylesheet" href="assets/css/plugins/style-switcher.css">
    {% endif %}

    <!-- CSS Theme -->
    {% block css_theme %}
    <link rel="stylesheet" href="assets/css/theme-colors/{{ THEME_COLOR }}.css" id="style_color">
    {% endblock %}
    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">

  </head>
  <body{% block body_attrs %}{% endblock %}>

    {% block container %}
    {% endblock %}

    {% include "js.html" %}

    {% block js_plugins %}
    <!--[if lt IE 9]>
      <script src="assets/plugins/respond.js"></script>
      <script src="assets/plugins/html5shiv.js"></script>
      <script src="assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
    {% endblock %}

    {% if DEBUG %}
    <script type="text/javascript">
     var ws = new WebSocket("ws://" + "localhost" + ":" + "{{ SERVER_PORT }}" + "/refresh");
     ws.onopen = function () { ws.send("ready"); }
     ws.onmessage = function (evt) {
       console.log("received: " + evt.data);
       if (evt.data == "refresh") {
        location.reload();
       }
     };
    </script>
    {% endif %}

  </body>
</html>
