<!doctype html>
<!--[if IE 8]> <html lang="{{ LANGUAGE }}" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{ LANGUAGE }}" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="{{ LANGUAGE }}"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.meta['文章描述'] }}" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!--  Meta for Smart App Banner -->
    <!-- <meta name="apple-itunes-app" content="app-id=, app-argument=" -->
    <!-- End -->

    <!--  Meta for OpenGraph -->
    <meta property="og:site_name" content="{{ og_site_name }}">
    <meta property="og:title" content="{{ page.meta['文章标题'] }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ BASE_URL }}{{ url }}">
    <meta property="og:description" content="{{ page.meta['文章描述'] }}">
    <!-- End -->

    <!-- Baidu site -->
    <meta name="baidu-site-verification" content="4wWxdrmEvn" />

    <title>{% block title %}{% endblock %}</title>

    <!-- Web Fonts -->

    <style>
      @font-face {font-family: 'Open Sans';
      src: url('//at.alicdn.com/t/su963y55kouyds4i.eot'); /* IE9*/
      src: url('//at.alicdn.com/t/su963y55kouyds4i.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('//at.alicdn.com/t/su963y55kouyds4i.woff') format('woff'), /* chrome、firefox */
      url('//at.alicdn.com/t/su963y55kouyds4i.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('//at.alicdn.com/t/su963y55kouyds4i.svg#NotoSansHans-DemiLight') format('svg'); /* iOS 4.1- */
      }

    </style>

    {% block css %}{% endblock %}

    {% if DEBUG %}
    <!-- Style Switcher -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/plugins/style-switcher/style-switcher.css">
    {% endif %}


  </head>
  <body{% block body_attrs %}{% endblock %}>

    {% block container %}
    {% endblock %}


    {% include "js.html" %}

    {% block js_plugins %}
    <!--[if lt IE 9]>
      <script src="assets/plugins/respond.js"></script>
      <script src="assets/plugins/html5shiv.js"></script>
      <script src="assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
    {% endblock %}

    {% if DEBUG %}
    <script type="text/javascript">
     var ws = new WebSocket("ws://" + "{{ SERVER_IP }}" + ":" + "{{ SERVER_PORT }}" + "/refresh");
     ws.onopen = function () { ws.send("ready"); }
     ws.onmessage = function (evt) {
       console.log("received: " + evt.data);
       if (evt.data == "refresh") {
        location.reload();
       }
     };
    </script>
    {% endif %}

    {% if CNZZ and not DEBUG %}
    <script type="text/javascript">
     var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
     document.write(unescape("%3Cspan id='cnzz_stat_icon_1261484799'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1261484799%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
    </script>
    {% endif %}

  </body>
</html>
