<section id="testimonials" class="about-section">

  <!-- Testimonials v6 -->
  <div class="bg-color-light">
    <div class="container content-sm">
      <div class="headline-center margin-bottom-60">
        <h2>我们的学员</h2>

        <p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
          Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla </p>

      </div>

      <!-- Testimonials Wrap -->
      <div class="testimonials-v7 testimonials-wrap">
        <div class="col-md-6 col-sm-12">
          <div id="testimonials-7" class="carousel slide testimonials testimonials-v1 testimonials-bg-dark">
            <div class="carousel-inner">
              <div class="item active">
                <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                <div class="testimonial-info">
                  <img class="rounded-x" src="assets/img/testimonials/img1.jpg" alt="">
                  <span class="testimonial-author">
                    Jeremy Asigner
                    <em>Web Developer, Unify Theme.</em>
                  </span>
                </div>
              </div>
              <div class="item">
                <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                <div class="testimonial-info">
                  <img class="rounded-x" src="assets/img/testimonials/user.jpg" alt="">
                  <span class="testimonial-author">
                    User
                    <em>Java Developer, Htmlstream</em>
                  </span>
                </div>
              </div>
              <div class="item">
                <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                <div class="testimonial-info">
                  <img class="rounded-x" src="assets/img/testimonials/img2.jpg" alt="">
                  <span class="testimonial-author">
                    Kate Davenport
                    <em>Web Designer, Google Inc.</em>
                  </span>
                </div>
              </div>
            </div>

            <div class="carousel-arrow">
              <a class="left carousel-control" href="#testimonials-7" data-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="right carousel-control" href="#testimonials-7" data-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div id="testimonials-7" class="carousel slide testimonials testimonials-v1 testimonials-bg-dark">
            <div class="carousel-inner">
              <div class="item active">
                <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                <div class="testimonial-info">
                  <img class="rounded-x" src="assets/img/testimonials/img1.jpg" alt="">
                  <span class="testimonial-author">
                    Jeremy Asigner
                    <em>Web Developer, Unify Theme.</em>
                  </span>
                </div>
              </div>
              <div class="item">
                <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                <div class="testimonial-info">
                  <img class="rounded-x" src="assets/img/testimonials/user.jpg" alt="">
                  <span class="testimonial-author">
                    User
                    <em>Java Developer, Htmlstream</em>
                  </span>
                </div>
              </div>
              <div class="item">
                <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                <div class="testimonial-info">
                  <img class="rounded-x" src="assets/img/testimonials/img2.jpg" alt="">
                  <span class="testimonial-author">
                    Kate Davenport
                    <em>Web Designer, Google Inc.</em>
                  </span>
                </div>
              </div>
            </div>

            <div class="carousel-arrow">
              <a class="left carousel-control" href="#testimonials-7" data-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="right carousel-control" href="#testimonials-7" data-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Testimonials Wrap -->
    </div><!--/end container-->
  </div>
  <!-- End Testimonials v6 -->

  <div class="clients-section parallaxBg">
    <div class="container">
      <div class="title-v1">
        <h2>合作学院</h2>
      </div>
      <ul class="owl-clients-v2">

        <li class="item">
          <a href="#">
            <img src="{{ STATIC_URL }}/img/clients/national-geographic.png" alt="">
          </a>
        </li>

        <li class="item"><a href="#"><img src="{{ STATIC_URL }}/img/clients/inspiring.png" alt=""></a></li>
        <li class="item"><a href="#"><img src="{{ STATIC_URL }}/img/clients/fred-perry.png" alt=""></a></li>
        <li class="item"><a href="#"><img src="{{ STATIC_URL }}/img/clients/emirates.png" alt=""></a></li>
        <li class="item"><a href="#"><img src="{{ STATIC_URL }}/img/clients/baderbrau.png" alt=""></a></li>
        <li class="item"><a href="#"><img src="{{ STATIC_URL }}/img/clients/inspiring.png" alt=""></a></li>
      </ul>
    </div>
  </div>

</section>
