<section id="news" class="news-section">
  <div class="container content-lg">
    <div class="title-v1">
      <h2>最新资讯</h2>
      <p>艺考最权威最全面的消息</p>
    </div>

    <div class="row news-v1">
      {% for article in latest_articles()[:3] %}
      <div class="col-md-4{% if loop.last %}{% else %} md-margin-bottom-40{% endif %}">
        <div class="news-v1-in">
          <img class="img-responsive" src="{{ STATIC_URL}}/{{ article.meta['封面'] }}" alt="{{ article.meta['文章标题'] }}">
          <h3><a href="{{ article.permalink }}">{{ article.meta['文章标题'] }}</a></h3>
          <p>{{ article.meta['文章描述']|truncate(150) }}</p>
          <ul class="list-inline news-v1-info">
            <li><span>作者</span> <a href="#"> {{ article.meta['作者'] }}</a></li>
            <li>|</li>
            <li><i class="fa fa-clock-o"></i> {{ article.meta['创建于'] }}</li>
            <!-- <li class="pull-right">
                 <a href="#"><i class="fa fa-comments-o"></i> 14</a>
                 </li> -->
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="parallax-twitter parallaxBg">
    <div class="container parallax-twitter-in">
      <!-- <div class="margin-bottom-30">
           <i class="icon-custom rounded-x icon-bg-blue fa fa-twitter"></i>
           </div> -->

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ul class="list-unstyled owl-twitter-v1">
            {% for testi in page.meta['家长感言'] %}
            <li class="item">
              <p>{{ testi['留言']}}</p>
              <span>{{ testi['姓名'] }}</span>
            </li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
