<section id="testimonials" class="about-section">

  <!-- Testimonials v6 -->
  <div class="bg-color-light">
    <div class="container content-sm">

      <div class="headline-center margin-bottom-60">
        <h2>我们的学员</h2>

        <p>坚定信念，努力达到充满希望的未来。</p>

      </div>
      <!-- Testimonials Wrap -->
      <div class="testimonials-v7 testimonials-wrap">
        <div class="col-md-2 col-sm-12"></div>
        <div class="col-md-8 col-sm-12">
          <div id="testimonials-7" class="carousel slide testimonials testimonials-v1 testimonials-bg-dark">
            <div class="carousel-inner">

              {% for student in page.meta['学生风采']%}
              <div class="item{% if loop.first %} active{% endif %}">
                <p>{{ student['留言'] }}</p>
                <div class="testimonial-info">
                  <img class="rounded-x" src="{{ STATIC_URL }}/{{ student['头像'] }}" alt="{{ student['姓名'] }}">
                  <span class="testimonial-author">
                    {{ student['姓名'] }}
                    <em>{{ student['录取学院'] }}, {{ student['专业']}}</em>
                  </span>
                </div>
              </div>
              {% endfor %}

            </div>

            <div class="carousel-arrow">
              <a class="left carousel-control" href="#testimonials-7" data-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="right carousel-control" href="#testimonials-7" data-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Testimonials Wrap -->
    </div><!--/end container-->
  </div>
  <!-- End Testimonials v6 -->

  <div class="clients-section parallaxBg">
    <div class="container">
      <div class="title-v1">
        <h2>合作学院</h2>
      </div>
      <ul class="owl-clients-v2">

        {% for college in page.meta['合作学院'] %}
        <li class="item">
          <a href="#">
            <img src="{{ STATIC_URL }}/{{ college.logo }}" alt="{{ college.title }}">
          </a>
        </li>
        {% endfor %}

      </ul>
    </div>
  </div>

</section>
