<div id="contact" class="footer-v2">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-3 md-margin-bottom-40">
          <a href="index.html">
            <!-- <img id="logo-footer" class="footer-logo" src="{{ STATIC_URL }}/{{ LOGO_URL }}" alt=""> -->
          </a>
          <p class="margin-bottom-20">晓白杨艺训是华南地区首屈一指的高端定制型传媒艺考培训机构。 </p>
          <p>
          <strong>获取更多信息及联系我们请关注官方公众号</strong>
          </p>
          <img class="center" src="{{ STATIC_URL}}/{{ WEIXIN_GZH_QR }}" style="width: 120px;height: 120px" />

        </div>
        <!-- End About -->

        <!-- Link List -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2 class="heading-sm">快速链接</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="#">首页</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#teams">团队介绍</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#courses">课堂风采</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#news">最新资讯</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div>
        <!-- End Link List -->

        <!-- Latest Tweets -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="latest-tweets">
            <div class="headline"><h2 class="heading-sm">最新资讯</h2></div>
            <!-- <div class="latest-tweets-inner">
                 <i class="fa fa-weibo"></i>
                 <p>
                 <a href="#">@晓白杨艺训</a>
                 <a href="#">http://t.co/sBav7dm</a>
                 <small class="twitter-time">2 小时前</small>
                 </p>
                 </div>
                 <div class="latest-tweets-inner">
                 <i class="fa fa-weibo"></i>
                 <p>
                 <a href="#">@晓白杨艺训</a>
                 At vero seos etodela ccusamus et
                 <a href="#">http://t.co/sBav7dm</a>
                 <small class="twitter-time">4 小时前</small>
                 </p>
                 </div> -->
          </div>
        </div>
        <!-- End Latest Tweets -->

        <!-- Address -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2 class="heading-sm">联系我们</h2></div>
          <address class="md-margin-bottom-40">
                  <i class="fa fa-home"></i>{{ ADDRESS }}<br />
                  <i class="fa fa-phone"></i>电话: {{ TEL }} <br />
            <i class="fa fa-globe"></i>网站: <a href="www.xiaobaiyangyixun.com">www.xiaobaiyangyixun.com</a> <br />
            <i class="fa fa-weixin"></i>微信号: <a href="#">{{ WEIXIN_GZH }}</a> <br/>
            <i class="fa fa-envelope"></i>Email: <a href="{{ EMAIL }}">{{ EMAIL }}</a>
          </address>

          <!-- Social Links -->
          <ul class="social-icons">
            <li><a href="#" data-original-title="Sina" class="rounded-x fa fa_weibo"></a></li>
            <li><a href="#" data-original-title="Weixin" class="rounded-x fa fa_weixin"></a></li>
            <li><a href="#" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
            <li><a href="#" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
          </ul>
          <!-- End Social Links -->
        </div>
        <!-- End Address -->
      </div>
    </div>
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
      <p class="text-center">
        2017 &copy; All Rights Reserved.
        <a target="_blank" href="https://www.xiaobaiyangyixun.com">广州晓白杨艺训</a>
      </p>
      <p class="text-center" id="cnzz_stat_icon_{{ CNZZ }}"></p>
    </div>
  </div><!--/copyright-->

</div>
